body {
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  color: white;
  font-family: 'Bangers', cursive;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-family: "Shadows Into Light";
  font-size: 1.5rem;
  border: none;
  background: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  font-family: 'Shadows Into Light', cursive;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}


.filter-todo {
  padding: 0.5rem;
}

.todo li {
  flex: 1;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo-item {
  padding: 0rem 0.5rem;
}



.delete-btn {
  background:  #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background:  #ff6f47;
  color: rgb(0, 0, 0);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem; 
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}